<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @quote.number %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<p>
  <strong>Mounth:</strong>
  <%= @quote.mounth %>
</p>

<p>
  <strong>Year:</strong>
  <%= @quote.year %>
</p>

<p>
  <strong>Is pais:</strong>
  <%= @quote.is_paid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
